<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="CURA_HealthCare_App.java">
        <classes>
            <class name="com.testingselenium.miniProject.CURA_HealthCare_App">
                <methods>
                    <include name="openApp"/>
                    <include name="enterLoginDetails"/>
                    <include name="make_Appointment"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>